<%- include('header') %>
    <h1 class="title is-1"><%= title %></h1>
    <p class="subtitle is-3">Welcome to <%= title %></p>

    <% if (!!user) { %>
      <a href="/newmessage"><button class="button is-info">Add new message</button></a><br/><br/>

    <% } if (!!messages) { %>
      <% messages.forEach((message) => { 

        const hidden = {
            author: '[hidden]',
            date: '[hidden]',
            notMember: true,
            member:  message.author.isMember ? ' |member' : '',
            admin: message.author.isAdmin ? '|admin' : '',
          };
          
          if (!!user) {
            hidden.author = message.author.username;
            hidden.date = message.date.toLocaleString();
            hidden.notMember = false; 
          }
        %>
        <div class="post <%= hidden.admin ? 'admin' : '' %>">
          <h3 class="title is-5"><%= message.title %></h3>
          <p class="subtitle is-6"><%= message.text %></p>
          <strong>Author: <%= hidden.author %><span id="<%= hidden.admin ? 'admin' : '' %>" class="member"><%= hidden.admin || hidden.member %></span></strong>
          <em>Posted on: <%= hidden.date  %></em>
          <% if (hidden.notMember) { %>
            <hr>
            <p>Log in and become a member to see date and author</p><br />
              <a href="/login"><button class="button is-info">Log in</button></a>
            
          <% } %>
          <% if (!!user) { %>
            <% if (user.isAdmin) { %>
              <hr />
              <form method="post" action="/delete/<%= message._id %>">
                <input class="button is-danger" type="submit" value="Delete" />
              </form>
            <% } %>
          <% } %>
        </div>
    <% });} %>
<%- include('footer') %>


<!-- // add delete to messages
// check project requirements
// add admin Login -->