<%- include('header') %>
    <h1 class="title is-1"><%= title %></h1>
    <p class="subtitle is-3">Sign up to send something</p>
    <form action="/signup" method="post">
      <div class="field">
        <label class="label">Name:</label>
        <div class="control">
          <input class="input" required type="text" value="<%= body.name || '' %>" name="name" placeholder="name" /><br />
        </div>
      </div>
      <div class="field">
        <label class="label">Surname:</label>
        <div class="control">
          <input class="input" type="text" value="<%= body.surname || '' %>" name="surname" placeholder="surname" /><br />
        </div>
      </div>
      <div class="field">
        <label class="label">Username:</label>
        <div class="control">
          <input class="input" required type="text" value="<%= body.username || '' %>" name="username" placeholder="username" /><br />
        </div>
      </div>
      <div class="field">
        <label class="label">Password:</label>
        <div class="control">
          <input class="input" required type="password" name="password" placeholder="password" /><br />
        </div>
      </div>
      <div class="field">
        <label class="label">Confirm password:</label>
        <div class="control">
          <input class="input" required type="password" name="passwordConfirm" placeholder="password confirmation" /><br />
        </div>
      </div>
      <input class="button is-primary" type="submit" value="Sign Up" />
    </form>
<%- include('footer') %>
